---
# Empty front matter
---
<!DOCTYPE html>
<html>
    <head>
        {% include materialize-header.html %}
    </head>
    <body>
        {% include navbar.html %}
        
        <div class="content">
            <p>DMR projects is an organization build by a group of skilled architects and interior designers, in which we gather the creative minds together to carve a master piece of design and creativity which compliments the neighborhood. 
            We with our passion for design and international eye promise to serve our clients with best of our capabilities to designs, develop and deliver.</p>

            <h5>vision ~</h5>

            <p>To serve our clients with efficient and time saving design solution, yet pertaining to evolution of unique designs.</p>

        </div>

    </body>
</html>