---
# Empty front matter
---
<!DOCTYPE html>
<html>
    <head>
        {% include materialize-header.html %}
    </head>
    <body>
        {% include navbar.html %}
        
        <div class="content contact">
            <div class="info">
                <span class="bold">Office</span> : C-4/2, Welcome Group C.G.H.S, Plot No.- 6, Sector – 3, Dwarka, New Delhi – 110078<br/>
                <span class="bold">Ph</span> : 011-40503105<br/>
                <span class="bold">Mob</span> : 9918891888<br/>
                <span class="bold">E-Mail</span> : dmrprojects28@gmail.com<br/>
                <span class="bold">Web</span> : dmrprojects28.com<br/>
            </div>

            <div class="map">
                <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=C-4%2F2%2C%20Welcome%20Group%20C.G.H.S%2C%20Plot%20No.-%206%2C%20Sector%20%E2%80%93%203%2C%20Dwarka%2C%20New%20Delhi%20%E2%80%93%20110078&key=AIzaSyDI5WIRCFxrgG7miCE9dRS10-VihOfN-A4" allowfullscreen></iframe>
            </div>
        </div>

    </body>
</html>
